<% if admin_signed_in? %>
  <% link_to 'Efetuar logoff...[Admin]', destroy_admin_session_path, method: :delete %>
<% end %>
<p>Find me in app/views/admins_backoffice/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>Usuário <strong>ESTÁ</strong> logado / <%= current_user.email %> </p>
<% else %>
  <p>Usuário <strong>NÃO está</strong> logado</p>
<% end %>

<% if admin_signed_in? %>
  <p>Administrador <strong>ESTÁ</strong> logado / <%= current_admin.email %> </p>
<% else %>
  <p>Administrador <strong> NÃO está</strong> logado</p>
<% end %>



<p><%= link_to 'LOGOFF [ADMIN]', destroy_admin_session_path, method: :delete%></p>
