<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>Usuário <strong>ESTÁ</strong> logado / <%= current_user.email %> </p>
<% else %>
  <p>Usuário <strong>NÃO está</strong> logado</p>
<% end %>

<% if admin_signed_in? %>
  <p>Administrador <strong>ESTÁ</strong> logado / <%= current_admin.email %> </p>
<% else %>
  <p>Administrador <strong> NÃO está</strong> logado</p>
<% end %>
<ul>
  <li><p><%= link_to 'admins_backoffice', admins_backoffice_welcome_index_path%></p> </li>
  <li><p><%= link_to 'users_backoffice', users_backoffice_users_index_path%></p> </li>
</ul>
